@import '../Reset.css';

.display-box {
  width: 350px;
  height: 350px;

  background-color: #c2e3c4;

  border-radius: 32px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  display: flex;
  align-items: flex-end;
}

.output-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}

.input-display {
  box-sizing: border-box;
  max-width: 320px;
  background-color: transparent;
  border: none;
  padding-right: 30px;

  font-family: 'Roboto';
  font-size: 32px;
  text-align: right;
  color: #646464;
  font-weight: 500;
}

.input {
  font-size: 24px;
}

.input:focus-visible {
  outline: none;
}

.output {
  font-size: 56px;
  padding-bottom: 30px;
  color: #474747;
}

.output:focus-visible {
  outline: none;
}
