@import '../Reset.css';

.display-box {
  width: 350px;
  height: 350px;

  background-color: #c2e3c4;

  border-radius: 32px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
