.App {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: #d8daf7;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  background-color: #646373;
  padding: 24px 24px;

  border-radius: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
